body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #000;
    color: #333;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
}
.header, .logo{
    justify-content: center;
    width: 70px;
}

@font-face {
    font-family: "porsche";
    src: url("/font/porsche/911porschav3bold.ttf") format("truetype");
}
header h1 {
    font-family: "porsche";
    margin: 0;
    font-size: 2rem;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

nav a {
    font-family: "porsche";
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    text-transform: uppercase;
    line-height: 1;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    min-width: 130px;
    min-height: 30px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    color: #001F3F;
    background-color: #fff;
}


.wrapper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    background-image: url("/images/siluetporsche.png");
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1000px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto;
    gap: 15px;
    padding: 10px;
    margin: 0 auto;
}

.card {
    width: 110px;
    border-radius: 2rem;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: flex-end;
    transition: all 0.6s cubic-bezier(.28, -0.03, 0, .99);
    flex-shrink: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 100%;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.card>.row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    padding: 15px;
    z-index: 1;
}

.card>.row>.icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.card>.row>.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.4s ease;
    transition-delay: 0.3s;
}

.description p {
    padding-top: 5px;
    font-size: 0.9em;
    opacity: 0.9;
    margin: 0;
}

.description h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

input {
    display: none;
}

input:checked+label {
    width: 600px;
}

input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}


.container2 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 20px auto;
    padding: 0 20px;
    gap: 20px;
}

h2 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-family: "porsche";
}

.card2 {
    flex: 1 1 20%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    padding: 15px;
    text-align: center;
    min-height: 400px;
}

.card2 img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card2 h3 {
    margin: 15px 0 10px;
    font-size: 1.5rem;
}

.card2 p {
    flex-grow: 1;
    margin: 0 0 15px;
}

.card2 a {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 3px;
    margin-top: auto; 
}


.card2 a:hover {
    background-color: #444;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}


.container3 {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    justify-content: center;
}
h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-family: "porsche";
    font-size: 40px;
}

.card3 {
    background: #fff;
    width: 450px;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card3 h3 {
    margin: 15px 0 10px;
    font-size: 1.5rem;
}

.card3 p {
    margin: 0 0 15px;
}

.card3 a {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 3px;
}

.card3 a:hover {
    background-color: #444;
}



.showcase {
    min-height: 400px;
    color: #fff;
}

.showcase h1 {
    font-family: "porsche";
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.containerspecs {
    margin: auto;
    overflow: hidden;
}

.containerspecs p {
    font-family: "porsche";
    text-align: center;
    font-size: 25px;
}

.containerspecs img {
    height: 100%;
    width: 100%;
}

.specs {
    display: flex;
    justify-content: space-around;
    margin: 20px ;
}

.specs div {
    background: #fff;
    padding: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.specs h1 {
    margin-top: 0;
}