/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container {
        height: 200px;
        padding: 5px;
        gap: 10px;
    }

    .card {
        width: 50px;
        border-radius: 1.5rem;
    }

    input:checked+label {
        width: 200px;
    }

    .card>.row {
        padding: 10px;
    }

    .card>.row>.icon {
        width: 30px;
        height: 30px;
        margin: 1px;
    }

    .card>.row>.description {
        width: 220px;
        height: 70px;
    }

    .description h4 {
        font-size: 1rem;
    }

    .description p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 480px) {
    .container {
        height: 200px;
    }

    input:checked+label {
        width: 200px;
    }

    .card>.row>.description {
        width: 100px;
    }

    .description h4 {
        font-size: 0.9rem;
    }

    .description p {
        font-size: 0.75em;
    }
}

